<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <connectionStrings>
    <add name="ATSDBSTRING" connectionString="Data Source=103.73.221.75;Initial Catalog=devtestdb;User ID=sa;Password=snpl123@;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="ATSDBSTRING" />
  <system.web>
    <customErrors mode="Off" />
    <pages>
      <controls>
 
        <add tagPrefix="ddl" namespace="Saplin.Controls" assembly="DropDownCheckBoxes" />

      </controls>

    </pages>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="1048576" />

    <!--<authentication mode="Forms">
        <forms loginUrl="~/login" timeout="1" />
      </authentication>-->

    <!--<sessionState mode="InProc" timeout="30"></sessionState>-->

    <globalization uiCulture="en" culture="en-GB" />
  
  
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
      
        
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="supremenetsoft.info@gmail.com">
        <network defaultCredentials="false" host="smtp.gmail.com" port="587" userName="supremenetsoft.info@gmail.com" password="1234" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    
      <httpProtocol>  
        <customHeaders>  
            <add name="Access-Control-Allow-Headers" value="accept, content-type" />  
            <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS" />  
            <add name="Access-Control-Allow-Origin" value="*" />
        </customHeaders>  
    </httpProtocol>  
        
      
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <defaultDocument enabled="true">
      <files>
                <add value="editor/login.aspx" />
      </files>
    </defaultDocument>
        <directoryBrowse enabled="true" />

  </system.webServer>
  <!--<mailSettings>
    <smtp deliveryMethod="Network" from="helpdesk.snpl@gmail.com">
      <network defaultCredentials="false" host="smtp.gmail.com" port="587" userName="helpdesk.snpl@gmail.com" password="jdzydiyrrvfnrjbf" enableSsl="true"/>
    </smtp>
  </mailSettings>-->
</configuration>